AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
OPENAI_API_VERSION="2025-01-01-preview"
AZURE_OPENAI_DEPLOYMENT_NAME_41=
AZURE_OPENAI_DEPLOYMENT_NAME_O4_MINI=
# Grounding with Bing Search
PROJECT_CONNECTION_STRING=
BING_CONNECTION_NAME=
BING_GROUNDING_MODEL_DEPLOYMENT_NAME=

SEARCH_MAX_RETRIES=3
