# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-core==1.32.0
azure-functions==1.21.3
azure-storage-blob==12.24.0
chardet==5.2.0
pydantic==2.9.2
azure-identity==1.19.0
openai==1.99.3