# CosmosDBの接続情報
AZURE_COSMOSDB_URI=
AZURE_COSMOSDB_DATABASE_NAME=
AZURE_COSMOSDB_MESSAGE_CONTAINER_NAME=
AZURE_COSMOSDB_THREAD_CONTAINER_NAME=
AZURE_COSMOSDB_RAG_MESSAGE_CONTAINER_NAME=
AZURE_COSMOSDB_RAG_THREAD_CONTAINER_NAME=
AZURE_COSMOSDB_TEMPLATE_CONTAINER_NAME=
AZURE_COSMOSDB_BAN_WORD_CONTAINER_NAME=
AZURE_COSMOSDB_DICTIONARY_CONTAINER_NAME=
AZURE_COSMOSDB_QA_CONTAINER_NAME=
AZURE_COSMOSDB_AGENT_MESSAGE_CONTAINER_NAME=
AZURE_COSMOSDB_AGENT_THREAD_CONTAINER_NAME=
AZURE_COSMOSDB_DEEP_THREAD_CONTAINER_NAME=
AZURE_COSMOSDB_DEEP_MESSAGE_CONTAINER_NAME=

# 関数アプリのAPI URL
ORCHESTRATOR_API_URL=
ORCHESTRATOR_RAG_API_URL=
ORCHESTRATOR_RAG_API_URL2=
ORCHESTRATOR_DOCUMENT_API_ENDPOINT=
ORCHESTRATOR_DOCUMENT_API_CREDENTIAL=
ORCHESTRATOR_USE_CASE_API_ENDPOINT=
ORCHESTRATOR_USE_CASE_API_CREDENTIAL=
ORCHESTRATOR_PII_API_URL=
ORCHESTRATOR_FILE_API_ENDPOINT=
ORCHESTRATOR_FILE_API_CREDENTIAL=
ORCHESTRATOR_IT_API_ENDPOINT=
ORCHESTRATOR_IT_API_CREDENTIAL=
ORCHESTRATOR_AGENT_API_ENDPOINT=
ORCHESTRATOR_AGENT_API_ENDPOINT=
ORCHESTRATOR_STANDARD_API_ENDPOINT=
ORCHESTRATOR_STANDARD_API_CREDENTIAL=
ORCHESTRATOR_MFG_API_ENDPOINT=
ORCHESTRATOR_MFG_API_CREDENTIAL=
ORCHESTRATOR_DEEP_API_URL=
ORCHESTRATOR_DEEP_API_CREDENTIAL=

# お知らせ
INFORMATION=

# 開発用ユーザー
DEV_USER_ID=
DEV_USER_NAME=
DEV_USER_EMAIL=

# アクセス許可グループ（カンマ区切りでグループIDを指定）
# 例: ALLOWED_GROUPS=group-id-1,group-id-2,group-id-3
ALLOWED_GROUPS=

#プロキシ設定
PROXY_URL=