azure-functions
azure-functions-durable
azure-storage-blob==12.25.1
azure-identity==1.17.1
semantic-kernel==1.37.0
azure-monitor-opentelemetry-exporter==1.0.0b46
pillow==10.4.0
xlsxwriter==3.2.2
python-docx==1.1.2
python-dotenv==1.1.0
numpy==2.2.6
requests==2.31.0
pydantic==2.9.2
opencv-python-headless==4.10.0.84
imagehash==4.3.1