# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions==1.21.3
azure-search-documents==11.5.2
azure-storage-blob==12.24.0
openai==1.99.3
requests>=2.32.3
PyMuPDF==1.24.13 # 追加
python-docx==1.1.2  # 追加
openpyxl==3.1.5  # 追加
python-pptx==1.0.2  # 追加
pydantic>=2.9.2
pytest>=8.3.3
azure-identity==1.19.0
msg_parser==1.2.0
chardet==5.0.0