# Azure Cosmos DBの接続情報
# rocketboostlabsを使用する場合は***rengoku3で実行時の環境変数***をコメントアウト
# rengoku3を使用する場合は***rocketboostlabsで実行時の環境変数***をコメントアウト

# ***rocketboostlabsで実行時の環境変数***
# URI
URI=
# データベースキー
DATABASE_KEY=
# データベース名
DATABASE_NAME=
# *********************

# ***rengoku3で実行時の環境変数***
# URI
URI=
# データベース名
DATABASE_NAME=
# ************************